.lists-wrapper
  padding: 5px
.list-grid
  width: 300px
  padding: 5px
  margin: 5px
  background: #DDD
  border-radius: 3px
.card-grid
  padding: 5px
  margin: 5px
  background: #FEFEFE
  border-radius: 3px
.card-wrapper
  min-height: 10px
.card-title
  padding: 5px
  margin-bottom: 0
.tilt
  transform: rotate(3deg)
  -moz-transform: rotate(3deg)
  -webkit-transform: rotate(3deg)
