{% extends "_layout.html" %}
{% block content %}
<section class='list-wrapper'></section>
<script>
  var cards_in_list;
  var list_order;
  var lists;
  var cards;
  var user;
  var users_in_card = {
    1: [1, 2, 3],
    2: [4, 5],
    3: [1, 6, 4],
    4: [1, 5],
    5: [],
    6: [1, 5],
    7: [4, 6],
    8: [5, 4],
    9: [4, 1, 2, 6],
    10: [1, 4],
    11: [3, 2, 5],
    12: []
  }
  function printLists() {
    var dom = '';
    for (i in list_order) {
      var k = list_order[i];
      dom +=
        "<div class='float-left list-grid' id='list-" + k + "' data-list-id='" + k + "'>" +
        "<div class='list-move'>" +
        "<h4 class='list-title'>" + lists[k].title + "</h4>" +
        "<div class='card-wrapper'></div>" +
        "<div class='add-card'>Add another card</div>" +
        "</div>" +
        "</div>";
    }
    $('.list-wrapper').append(dom);
  }
  function printCards() {
    for (i in cards_in_list) {
      dom = '';
      for (j in cards_in_list[i]) {
        card_id = cards_in_list[i][j];
        dom +=
          "<div class='card-grid' id='card-" + card_id + "' data-card-id='" + card_id + "'>" +
          "<div class='card-move'>" +
          "<h5 class='card-title'>" + cards[card_id].title + "</h5>" +
          "<div class='user-wrapper'></div>" +
          "<div class='clearfix'></div>" +
          "</div>" +
          "</div>";
        var selector = "#list-" + i + " .card-wrapper";
      }
      $(selector).append(dom);
    }
  }
  function printUsers() {
    for (i in users_in_card) {
      dom = '';
      for (j in users_in_card[i]) {
        user_id = users_in_card[i][j];
        dom +=
          "<div class='float-right user-grid'>" + users[user_id].last_name + "</div>";
        var selector = "#card-" + i + " .user-wrapper"
      }
      $(selector).append(dom);
    }
  }
  function updateCardsInList() {
    $.ajax({
      method: 'POST',
      url: '/api/list_card_order/1/edit',
      data: {
        'cards_in_list': JSON.stringify(cards_in_list),
        'list_order': JSON.stringify(list_order)
      },
      contentType: 'application/json'
    }).done(function(data){
    });
  }
  function renderItems() {
    $.ajax({
      method: 'GET',
      url: '/api/list_card_order/1'
    }).done(function(data){
      cards_in_list = data.cards_in_list;
      list_order = data.list_order;
      printLists();
      printCards();
      printUsers();
      $( ".list-wrapper" ).sortable({
        connectWith: ".list-wrapper",
        handle: ".list-move",
        cancel: ".list-move-toggle",
        start: function (event, ui) {
          ui.item.addClass('tilt');
          var list_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.dataset)).listId);
          var start_index = list_order.indexOf(list_id);
          ui.item.data('list_id', list_id);
          ui.item.data('start_index', start_index);
        },
        stop: function (event, ui) {
          ui.item.removeClass('tilt');
          if (ui.item.context.previousSibling === null) {
            var stop_index = 0;
            list_order.splice(ui.item.data('start_index'), 1);
          } else {
            var pre_list_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.previousSibling.dataset)).listId);
            list_order.splice(ui.item.data('start_index'), 1);
            var stop_index = list_order.indexOf(pre_list_id) + 1;
          }
          list_order.splice(stop_index, 0, ui.item.data('list_id'));
          console.log(list_order);
          updateCardsInList();
        }
      });
      $( ".card-wrapper" ).sortable({
        connectWith: ".card-wrapper",
        handle: ".card-move",
        cancel: ".card-move-toggle",
        start: function (event, ui) {
          ui.item.addClass('tilt');
          var start_list_id = JSON.parse(JSON.stringify(ui.item.context.parentElement.parentElement.parentElement.dataset)).listId;
          var card_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.dataset)).cardId);
          var start_index = cards_in_list[start_list_id].indexOf(card_id);
          ui.item.data('start_list_id', start_list_id);
          ui.item.data('card_id', card_id);
          ui.item.data('start_index', start_index);
        },
        stop: function (event, ui) {
          ui.item.removeClass('tilt');
          var stop_list_id = JSON.parse(JSON.stringify(ui.item.context.parentElement.parentElement.parentElement.dataset)).listId;
          if (ui.item.context.previousSibling === null) {
            var stop_index = 0;
            cards_in_list[ui.item.data('start_list_id')].splice(ui.item.data('start_index'), 1);
          } else {
            var pre_card_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.previousSibling.dataset)).cardId);
            cards_in_list[ui.item.data('start_list_id')].splice(ui.item.data('start_index'), 1);
            var stop_index = cards_in_list[stop_list_id].indexOf(pre_card_id) + 1;
          }
          cards_in_list[stop_list_id].splice(stop_index, 0, ui.item.data('card_id'));
          console.log(cards_in_list);
          updateCardsInList();
        }
      });
    });
  }
  $.ajax({
    method: 'GET',
    url: '/api/items'
  }).done(function(data){
    lists = data.lists;
    cards = data.cards;
    users = data.users;
    renderItems();
  });
</script>
{% endblock %}
