{% extends "_layout.html" %}
{% block content %}
<section class='list-wrapper'></section>
<script>
  var lists = {
    1: {"pk": 1, "title": "Up Next", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    2: {"pk": 2, "title": "In Progress", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    3: {"pk": 3, "title": "On Hold", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    4: {"pk": 4, "title": "Testing", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    5: {"pk": 5, "title": "Done", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"}
  };
  var cards = {
    1: {"pk": 1, "title": "Card1", "contents": "Card1...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    2: {"pk": 2, "title": "Card2", "contents": "Card2...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    3: {"pk": 3, "title": "Card3", "contents": "Card3...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    4: {"pk": 4, "title": "Card4", "contents": "Card4...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    5: {"pk": 5, "title": "Card5", "contents": "Card5...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    6: {"pk": 6, "title": "Card6", "contents": "Card6...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    7: {"pk": 7, "title": "Card7", "contents": "Card7...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    8: {"pk": 8, "title": "Card8", "contents": "Card8...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    9: {"pk": 9, "title": "Card9", "contents": "Card9...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    10: {"pk": 10, "title": "Card10", "contents": "Card10...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    11: {"pk": 11, "title": "Card11", "contents": "Card11...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
    12: {"pk": 12, "title": "Card12", "contents": "Card12...", "created_at": "2000-01-01T00:00:00Z", "updated_at": "2000-01-01T12:00:00Z"},
  };
  var users = {
    1: {"pk": 1, "username": "user1", "firstname": "User", "lastname": "1"},
    2: {"pk": 2, "username": "user2", "firstname": "User", "lastname": "2"},
    3: {"pk": 3, "username": "user3", "firstname": "User", "lastname": "3"},
    4: {"pk": 4, "username": "user4", "firstname": "User", "lastname": "4"},
    5: {"pk": 5, "username": "user5", "firstname": "User", "lastname": "5"}
  };
  var users_in_card = {
    1: [1, 2, 3],
    2: [4, 5],
    3: [1, 2, 4],
    4: [1, 5],
    5: [],
    6: [1, 5],
    7: [4, 1],
    8: [5, 4],
    9: [4, 1, 2, 3],
    10: [1, 4],
    11: [3, 2, 5],
    12: []
  }
  function printLists() {
    var dom = '';
    for (i in lists) {
      dom +=
        "<div class='float-left list-grid' id='list-" + i + "' data-list-id='" + i + "'>" +
        "<h4 class='list-title'>" + lists[i].title + "</h4>" +
        "<div class='card-wrapper'></div>" +
        "<div class='add-card'>Add another card</div>" +
        "</div>";
    }
    $('.list-wrapper').append(dom);
  }
  function printCards() {
    for (i in cards_in_list) {
      dom = '';
      for (j in cards_in_list[i]) {
        card_id = cards_in_list[i][j];
        dom +=
          "<div class='card-grid' id='card-" + card_id + "' data-card-id='" + card_id + "'>" +
          "<h5 class='card-title'>" + cards[card_id].title + "</h5>" +
          "<div class='user-wrapper'></div>" +
          "<div class='clearfix'></div>" +
          "</div>";
        var selector = "#list-" + i + ">.card-wrapper";
      }
      $(selector).append(dom);
    }
  }
  function printUsers() {
    for (i in users_in_card) {
      dom = '';
      for (j in users_in_card[i]) {
        user_id = users_in_card[i][j];
        dom +=
          "<div class='float-right user-grid'>" + users[user_id].lastname + "</div>";
        var selector = "#card-" + i + ">.user-wrapper"
      }
      $(selector).append(dom);
    }
  }
  function updateCardsInList() {
    $.ajax({
      method: 'POST',
      url: '/api/cards_in_list/1/edit',
      data: {'cards_in_list': JSON.stringify(cards_in_list)},
      contentType: 'application/json'
    }).done(function(data){
    });
  }

  $.ajax({
    method: 'GET',
    url: '/api/cards_in_list/1'
  }).done(function(data){
    cards_in_list = data.cards_in_list;
    printLists();
    printCards();
    printUsers();
    $( ".list-wrapper" ).sortable({
      connectWith: ".list-wrapper",
      handle: ".list-title",
      cancel: ".list-title-toggle",
      start: function (event, ui) {
        ui.item.addClass('tilt');
      },
      stop: function (event, ui) {
        ui.item.removeClass('tilt');
      }
    });
    $( ".card-wrapper" ).sortable({
      connectWith: ".card-wrapper",
      handle: ".card-title",
      cancel: ".card-title-toggle",
      start: function (event, ui) {
        ui.item.addClass('tilt');
        var start_list_id = JSON.parse(JSON.stringify(ui.item.context.parentElement.parentElement.dataset)).listId;
        var card_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.dataset)).cardId);
        var start_index = cards_in_list[start_list_id].indexOf(card_id);
        ui.item.data('start_list_id', start_list_id);
        ui.item.data('card_id', card_id);
        ui.item.data('start_index', start_index);
      },
      stop: function (event, ui) {
        ui.item.removeClass('tilt');
        var stop_list_id = JSON.parse(JSON.stringify(ui.item.context.parentElement.parentElement.dataset)).listId;
        if (ui.item.context.previousSibling === null) {
          var stop_index = 0;
        } else {
          var pre_card_id = parseInt(JSON.parse(JSON.stringify(ui.item.context.previousSibling.dataset)).cardId);
          var stop_index = cards_in_list[stop_list_id].indexOf(pre_card_id) + 1;
        }
        cards_in_list[ui.item.data('start_list_id')].splice(ui.item.data('start_index'), 1);
        cards_in_list[stop_list_id].splice(stop_index, 0, ui.item.data('card_id'));
        console.log(cards_in_list);
        updateCardsInList();
      }
    });
  });
</script>
{% endblock %}
